html {
    width:100vw;
    height:100vh;
    
}
p {
    margin: 0;
}
body {
    padding:0px;
    margin:0px;
    /* max-width:100vw; */
}
.test { 
    padding-top:140px;
}
.header {
    z-index:999;
    border-bottom: 1px solid black;
    font-family: 'Hanken';
    height:110px;
    padding:0px;
    margin-top:0px;
    width:100vw;
    background-color:white;
    position:fixed;
    /* margin:0px; */
    /* margin-bottom:300px; */
}
.header:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.marquee3k {
    font-size:26px;
    margin-top:-10px;
}





@font-face {
    font-family: "Hanken";
    src: url("../fonts/HankenGrotesk-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Fira";
    src: url("../fonts/FiraCode-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Sectra";
    src: url("../fonts/GT-Sectra-Fine-Bold.ttf") format("truetype");
}